.logo-ufmg{
    width: 15%;
}

.display-content{
    /*width: 200px;
    height: 100px;*/
    background-color: #CDCDCD;
    /*margin: 10px;*/
    border: solid 1px white;
}

.display-content.hot{
  background-color: #E79292;
}

.display-content.cold{
  background-color: #99C9CB;
}

.display-desc{
	color: #333333;
	font-size:22px;
	font-family: "SEGOE UI";
}

.display-value{
	color: #333333;
	font-size: 30px;
	font-family: "SEGOE UI";
}

.display-unit{
	color: #6c6c6c;
	font-size: 20px;
	font-family: "SEGOE UI";
}

.grp-displays{
	margin-bottom: 15px;
}

#powered-by{
	margin-top:25px;
}

.label-on{
	background-color: green;
}

.label-off{
	background-color: #6c6c6c;
	color: black;
}

.panel-custom {
  border-color: #9B9B9B;
}
.panel-custom > .panel-heading {
  color: #fff;
  background-color: #9B9B9B;
  border-color: #9B9B9B;
}
.panel-custom > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #9B9B9B;
}
.panel-custom > .panel-heading .badge {
  color: #ff7f50;
  background-color: #9B9B9B;
}
.panel-custom > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #9B9B9B;
}


.panel-custom-2 {
  border-color: #7e1416;
}
.panel-custom-2 > .panel-heading {
  color: #fff;
  background-color: #7e1416;
  border-color: #7e1416;
}
.panel-custom-2 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #7e1416;
}
.panel-custom-2 > .panel-heading .badge {
  color: #7e1416;
  background-color: #7e1416;
}
.panel-custom-2 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #7e1416;
}

#Op_mode{
  font-size: 20px;
}

#schart{
  border: solid 1px red; 
}

.smoothie-chart-tooltip {
  background: #f2f2f2;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: black;
  font-size: 15px;
  pointer-events: none;
}


@media screen and (max-width: 480px){

  
  .display-desc{
    font-size: 12px;
  }
  .display-value{
    font-size: 14px;
  }
  .display-unit{
    font-size: 10px;
  }

  .btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    margin-bottom: 15px;
  }
  .last-button-grp{
    margin-bottom: 0px;
  }
  #SetM{
    margin-top: 20px;
  }

#schart{
  border: solid 1px blue;
  width: 100;
}

}

#g1 text:nth-child(6) tspan{
  font-size: 0.8em !important;  
}