.logo-ufmg{
    width: 15%;
}

.display-content{
    /*width: 200px;
    height: 100px;*/
    background-color: #CDCDCD;
    /*margin: 10px;*/
    border: solid 1px white;
}

.display-desc{
	color: #333333;
	font-size:22px;
	font-family: "SEGOE UI";
}

.display-value{
	color: #333333;
	font-size: 30px;
	font-family: "SEGOE UI";
}

.display-unit{
	color: #6c6c6c;
	font-size: 20px;
	font-family: "SEGOE UI";
}

.grp-displays{
	margin-bottom: 15px;
}

#powered-by{
	margin-top:25px;
}

.label-on{
	background-color: green;
}

.label-off{
	background-color: #6c6c6c;
	color: black;
}

.panel-custom {
  border-color: #ff7f50;
}
.panel-custom > .panel-heading {
  color: #fff;
  background-color: #ff7f50;
  border-color: #ff7f50;
}
.panel-custom > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ff7f50;
}
.panel-custom > .panel-heading .badge {
  color: #ff7f50;
  background-color: #ff7f50;
}
.panel-custom > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ff7f50;
}


.panel-custom-2 {
  border-color: #7e1416;
}
.panel-custom-2 > .panel-heading {
  color: #fff;
  background-color: #7e1416;
  border-color: #7e1416;
}
.panel-custom-2 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #7e1416;
}
.panel-custom-2 > .panel-heading .badge {
  color: #7e1416;
  background-color: #7e1416;
}
.panel-custom-2 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #7e1416;
}

#Op_mode{
  font-size: 20px;
}

@media (max-width: 500px){

  .btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    margin-bottom: 15px;
  }
  .last-button-grp{
    margin-bottom: 0px;
  }
  #SetM{
    margin-top: 20px;
  }
}