{% extends "base.html" %}

{% load static %}

<!--arquivos css necessários para abertura da página-->
{% block css %}
    <link rel="stylesheet" href="{% static "css/bootstrap-slider.min.css" %}">
    <link rel="stylesheet" href="{% static "css/epoch.min.css" %}">
{% endblock css %}

{% block content %}

    <div class="container">
 
        <div class="row col-md-12" style="margin-bottom:10px;">
            <div class="container-fluid" style="margin-bottom: 40px;">
                <center>
                    <div class="col-xs-6">
                        <h2>
                            <span class="text-center" style="font-size:14px;">Arduino Mode</span>
                            <span id="arduino-mode" class="label {% if reg.EmergencyMode %} label-danger {% else %} {% if reg.ArduinoMode %}label-info {% else %} label-info {% endif %} {% endif %}">
                                {% if reg.EmergencyMode %} Emergência {% else %} {% if reg.ArduinoMode %}Remoto {% else %} Local {% endif %} {% endif %}</span>
                        </h2>
                    </div>
                    <div class="col-xs-6">
                        <h2>
                            <span class="text-center" style="font-size:14px;">Operation Mode</span>
                            <!--este campo é inicializado por java script -->
                            <span id="operation-mode" class="label label-info"> {%if op.OpMode == 0 %} Automático {% else %} Manual {% endif %} </span>
                        </h2>
                    </div>
                </center>
            </div>

                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a type="button" id="set-manual" class="btn btn-default actions modeactions {% if reg.ArduinoMode == 0 or op.OpMode == True %} disabled {% endif %}" data-toggle="confirmation" data-placement="left" data-action='7'> Set Manual</a></li>
                            <li><a type="button" id="set-auto" class="btn btn-default actions modeactions {% if reg.ArduinoMode == 0 or op.OpMode == False %} disabled {% endif %}" data-toggle="confirmation" data-placement="left" data-action="8"> Set Automatic</a></li>
                            <li><a type="button" id="start-trend" class="btn btn-default actions {% if op.TrendStarted %} disabled {% endif %}" data-toggle="confirmation"  data-placement="left" data-action="9"> Start Store Data </a></li>
                            <li><a type="button" id="stop-trend" class="btn btn-default actions {% if not op.TrendStarted %} disabled {% endif %}" data-toggle="confirmation"  data-placement="left" data-action="A"> Stop Store Data</a></li>
                            <li><a type="button" class="btn btn-default actions" data-toggle="confirmation" data-placement="left" data-action="B"> Clear Store Data</a></li>
                        </ul>
                </div>
        </div>

        <!--displays-->
        <div class="row grp-displays">

            <div class='col-md-6'>
                <div class="display-content">
                    <div class="display-data">
                        <h3 class="text-center display-desc">{{dp_col.0.name}}
                            <span>:</span> <span class="text-center display-value" id="{{dp_col.0.name}}">{{reg.Temp1|floatformat:2}}</span><span class='display-unit'>  {{dp_col.0.UE}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <div class="display-content">
                    <div class="display-data">
                        <h3 class="text-center display-desc" >{{dp_col.1.name}}
                            <span>:</span> <span class="text-center display-value" id="{{dp_col.1.name}}">{{reg.Temp2|floatformat:2}}</span><span class='display-unit'>  {{dp_col.1.UE}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <div class="display-content">
                    <div class="display-data">
                        <h3 class="text-center display-desc">{{dp_col.2.name}}
                            <span>:</span> <span class="text-center display-value" id="{{dp_col.2.name}}">{{reg.Temp3|floatformat:2}}</span><span class='display-unit'>  {{dp_col.2.UE}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <div class="display-content">
                    <div class="display-data">
                        <h3 class="text-center display-desc">{{dp_col.3.name}}
                            <span>:</span> <span class="text-center display-value" id="{{dp_col.3.name}}">{{reg.Temp4|floatformat:2}}</span><span class='display-unit'>  {{dp_col.3.UE}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <div class="display-content">
                    <div class="display-data">
                        <h3 class="text-center display-desc">{{dp_col.4.name}}
                            <span>:</span> <span class="text-center display-value" id="{{dp_col.4.name}}">{{reg.HotFlow|floatformat:2}}</span><span class='display-unit'>  {{dp_col.4.UE}}</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <div class="display-content">
                    <div class="display-data">
                        <h3 class="text-center display-desc">{{dp_col.5.name}}
                            <span>:</span> <span class="text-center display-value" id="{{dp_col.5.name}}">{{reg.ColdFlow|floatformat:2}}</span><span class='display-unit'>  {{dp_col.5.UE}}</span>
                        </h3>
                    </div>
                </div>
            </div> 

        </div> <!--end row -->
        <!-- fim displays-->

        <!-- status booleanos -->
        <div class="row">

            <div class="col-md-6 col-sm-6 grp-control" >
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Bomba</h3>
                    </div>
                    <div class="panel-body">
                        <!--display-->
                        <center>
                            <!--ideia do toggle abortada por enquanto-->
                            <!--<input type="checkbox" checked data-toggle="toggle">-->
                            <h1><span class="label {% if reg.PumpStatus %}label-on {% else %} label-off {% endif %} text-center" id="ps" >{% if reg.PumpStatus %}ON {% else %} OFF {% endif %}</span><h1>

                            <!--comando-->
                            <button class="btn btn-primary commandbutton {% if reg.ArduinoMode == 0 or op.OpMode == 0 %} disabled {% endif %}"  id="pumpon" data-target="1">Ligar</button>
                            <button class="btn btn-primary commandbutton {% if reg.ArduinoMode == 0 or op.OpMode == 0 %} disabled {% endif %}" id="pumpoff" data-target="2">Desligar</button>
                            
                            <!--gauge-->
                            <div id="g1" class="gauge"></div>
                            
                            <!--slider-->
                            <div>
                                <input class="slidercmd" id="sp_pumpspeed" type="text" data-provide="slider" data-slider-min="0" data-slider-max="100" 
                                data-slider-step="0.5" data-slider-enabled="{%if reg.ArduinoMode == 0 or op.OpMode == 0 %} false {% else %} true {% endif %}"  data-slider-value="{{reg.getintspeed}}"/>
                            </div>

                        </center>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 grp-control" >
                <div class="panel panel-custom">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Aquecedor</h3>
                    </div>
                    <div class="panel-body">
                        <!--display-->
                        <center>
                            <!--ideia do toggle abortada por enquanto-->
                            <!--<input type="checkbox" checked data-toggle="toggle">-->
                            <h1><span class="label {% if reg.HeaterStatus %}label-on {% else %} label-off {% endif %} text-center" id="hs">{% if reg.HeaterStatus %}ON{% else %}OFF{% endif %}</span><h1>

                            <!--comando-->
                            <button class="btn btn-primary commandbutton {% if reg.ArduinoMode == 0 or op.OpMode == 0 %} disabled {% endif %}" id="heateron" data-target="3">Ligar</button>
                            <button class="btn btn-primary commandbutton {% if reg.ArduinoMode == 0 or op.OpMode == 0 %} disabled {% endif %}" id="heateroff" data-target="4">Desligar</button>                 

                            <!--slider-->
                            <!--
                            <div>
                                <input class="slidercmd" id="sp_heater" type="text" data-provide="slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" 
                                data-slider-enabled="{%if reg.ArduinoMode == 0 or op.OpMode == 0 %} false {% else %} true {% endif %}" data-slider-value="{{reg.getintspeed}}"/>
                            </div>
                            -->

                        </center>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock content %}

<!--arquivos java script necessários para a página-->
{% block js %}
    <script src="{% static "js/operation.js" %}"></script>
    <script src="{% static "js/bootstrap-slider.min.js" %}"></script>
    <script src="{% static "js/bootstrap-confirmation.min.js" %}"></script>
    <script src="{% static "js/raphael-2.1.4.min.js" %}"></script>
    <script src="{% static "js/justgage.js" %}"></script>
{% endblock js %}